<div class="people col-lg-8" *ngIf="messages">
	<h1>{{ title }}</h1>

	<!-- Listado -->
	<div *ngFor="let message of messages" class="item-user">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="image-user pull-left">
					<a href="#">
						<img src="{{ url + 'get-image-user/' + message.emitter.image }}" *ngIf="message.emitter.image">
						<img src="assets/user.png" *ngIf="!message.emitter.image">
					</a>
				</div>
				<div class="user-name pull-left">
					<p>
						<a [routerLink]="['/perfil', message.emitter._id]">
							{{ message.emitter.name + ' ' + message.emitter.surname }}
						</a>
						<span>
							{{ (message.created_at | amFromUnix) | amLocale:'es' | amTimeAgo }}
						</span>
						<span>
							Enviado a <a [routerLink]="['/perfil', message.receiver._id]" {{ message.receiver.name + ' ' + message.receiver.surname }}
						</span>
					</p>
					<p>{{ message.emitter.nick }}</p>
				</div>
				<div>
					{{ message.text }}
				</div>
			</div>
		</div>
	</div>

	<!-- Paginación -->
	<ul class="pagination pull-right">
		<li *ngIf="page > 1"><a [routerLink]="['/mensajes/enviados', prev_page]">Anterior</a></li>
		<li *ngIf="pages != page"><a [routerLink]="['/mensajes/enviados', next_page]">Siguiente</a></li>
	</ul>
</div>